/****************** COVER STYLE ***************************************************************************************************************/
/*cover photo and text*/
body{
    background-color:white;
}

.cover h1{
    color: #865336;
    background-color:rgba(255,232,214, 90%);
    
}


/*description*/
.description{
    color: #6B705C;
    background-color:rgba(255,232,214, 100%);
}

.footer{
    color: #6B705C;
}

/*sneak peek*/
.cover_content h2{
    color: #865336;
}
.cover_content .button_to_expand i{
    color: #865336;
}

/****************** NAVBAR STYLE ***************************************************************************************************************/
.div_Navbar{
    background-color: white ;
    border-bottom:#DDBEA9 5px dashed;
}



.div_Navbar a { 
    color: #865336; 
} 

.div_Navbar #current_page { 
    color: #6B705C; 
}
 
.div_Navbar a:hover { 
  color: #6B705C;
}	



.div_Navbar div .dropdown{
    background-color: #ffffff;
    box-shadow: 8px 8px 16px -6px rgba(0,0,0,0.2);
}

.div_Navbar .navb_logo:hover{   /*logo 1 disappears*/
    border:1px solid #6B705C ;
}

.div_Navbar #darkMode_item{
    background-color: white;
}
.div_Navbar #darkMode_item a{
    color: #6B705C;
}



/*****************RECIPES****************************************************/
.page_quick_description h2{
    color: #865336;
}

.page_quick_description p{
    color: #6B705C;
}

/**about me*/
#about_me a{
    color: #6B705C;
}


/*********************PAGE LAYOUT*************************************************************/
.page_descriptor h1{
    
    /*escolher uma melhor combinação de color e background que dê para todos*/						
    color: #865336;/*rgba(183,183,164, 70%);*/
    background-color: rgba(255, 255, 255, 70%);
    
}
.card .description_on_hover{  /*div containing card description*/
    
    background-color: #FFE8D6;
}
.card p{
    color:#865336;
}

/**************lists*************/

.list_with_emoticons{
    color:#865336;
}



/************************videos********************************************************/

.video p{
    color:#865336;
}

/*RECIPES DETAILS*/

.recipes_content #header{
    color:#865336;
    background-color: #FFE8D6;
}

.recipes_content #info {
    color:#6B705C;
}


/**********************downloads***************************/
#downloads div{
    color:#6B705C;
}



/*********************footer********************************************/
.fa:hover {
    background: white;
}
