/****************** COVER STYLE ***************************************************************************************************************/
/*cover photo and text*/
body{
    background-color:white;
}

.cover h1{
    color: #865336;
    background-color:rgba(255,232,214, 70%);
    
}


/*description*/
.description{
    color: #6B705C;
    background-color:rgba(255,232,214, 100%);
}

.footer{
    color: #6B705C;
}

/*sneak peek*/
.cover_content h2{
    color: #865336;
}
.cover_content .arrow{
    border: solid #865336;
}

/****************** NAVBAR STYLE ***************************************************************************************************************/
.div_Navbar, .div_Navbar div{
    background-color: white;
}



.div_Navbar a { 
    color: #865336; 
} 

.div_Navbar #current_page { 
    color: #6B705C; 
}
 
.div_Navbar a:hover { 
  color: #6B705C;
}	



.div_Navbar div .dropdown{
    background-color: #ffffff;
    box-shadow: 8px 8px 16px -6px rgba(0,0,0,0.2);
}

.div_Navbar .navb_logo:hover{   /*logo 1 disappears*/
    border:1px solid #6B705C ;
}

.div_Navbar #darkMode_item a{
    color: #6B705C;
}