/*cover photo and text*/
.cover{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    height: 60vh;
    max-height: 800px;
}

.cover h1{
    z-index: 1;
    position: absolute;
    left: 10%;
    top: 25%;
    display: inline-block; /*cover only text and not all line*/
    margin: 0;							
    padding:20px;
    text-align:left;
    font-family:Poiret One;
    font-size: max(min(min(5vw, 10vh),50px), 20px);
}

.cover img{
    z-index: 0;
    position:relative;
    width: 100%;
    height: 100%;	
    object-fit: cover;
    overflow: hidden;
}


/*description*/
.description{
    z-index: 1;
    position: relative;
    margin: 2vw;
}

.description p {
    text-align: right;
    font-family: Darker Grotesque;
    margin-right: 2vw;
    font-size: max(min(min(7vh, 3vw), 30px), 10px);
}

