/*cover photo and text*/

.cover h1{						
    color: #FFE8D6;
    background-color:rgba(	107, 112, 92, 50%);
}

/*description*/
.description{
    color: #FFE8D6;
    background-color:rgba(	107, 112, 92, 100%);
}

