/* Defines Navebar*/
.div_Navbar{
    margin-left:2vw;     /*removed margind and substituted for padding- better behaviour when sticky*/
    margin-right:2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required for sticky to work*/
    background-color: white;
    z-index: 3;
}


/*TODO: align at middle*/
.div_Navbar ul{
    margin:0;
    padding: 0; 
    overflow: hidden; 
    background-color: #FFFFFF;		
    position: static;
}

.div_Navbar ul li{
    list-style-type:none;
    float:left;
    text-align: center;
}

.div_Navbar ul li a { 
  color: #865336; 
  text-align: left; 
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  font-family: Darker Grotesque; 
  font-size: max(min(min(7vh, 3vw), 30px), 10px);
  
  max-width: 200px;
  width: 8vw;
} 

.div_Navbar ul li #current_page { 
    color: #6B705C; 
    font-weight: bold;
} 
 
.div_Navbar ul li a:hover { 
  color: #6B705C;
  text-decoration: underline;
  text-decoration-style: solid;
}	

.div_Navbar ul .dropdown_content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 8px 8px 16px -6px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown_content hr{
    margin: 0;
}
.div_Navbar ul .recipes:hover .dropdown_content {  /*when hovering @ recipes, displays dropdown menu*/
    display: block;
}



.navb_logo_hover{  /*green*/
    margin-right: 2vw;
    position: relative;
    max-width: 200px;
    width: 8vw;
}

.navb_logo{
    z-index: +1;
    margin: 0;
    position: absolute;
    top: 8px+2vw;
    left:24px+2vw;
    max-width: 200px;
    width: 8vw;
}


.navb_logo:hover{   /*logo 1 disappears*/
    display: none;
    border:1px solid #6B705C ;
    
}

.div_Navbar ul #darkMode_item{
    float: right;
    color: #6B705C;
}
.div_Navbar ul #darkMode_item a{
    color: #6B705C;
    text-decoration: none;
}