/*******************page divider*******************/
/*Defines how title and image title are displayed*/

.page_descriptor{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    height: min( max(min(120px, 20vh), 40px), max(min(120px, 10vw), 400px));     /*max min para width + height*/
    display: flex;
    align-items: center;
}

.page_descriptor h1{
    font-family:Poiret One;
    /*adjusts at height and width*/
    font-size: min( max(min(60px, 10vh), 20px), max(min(60px, 5vw), 20px));  
    
    text-align:left;
	margin: auto;						
    color: #6B705C;
    background-color:rgba(183,183,164, 70%);
    padding: 8px;
    border-radius: 5%;

    z-index: 0;
    position: absolute; /*allows for superposition*/
    
    -ms-transform: translate(10%, 0%);
    transform: translate(10%, 0%);    
    
}

.page_descriptor img{
    z-index: -1;
    position:relative;
    width: 100%;
    height: 100%;	
    object-fit: cover;
    overflow: hidden;
    display: block;
}



/*******************CARDS*******************/
/*Defines how cards are displayed*/
.cards_content{
    position: relative;
    display: block;
    margin:2vw;
    margin-top: 1vw;
    /*height: 0;*/
    display: flex;
    justify-content: space-between;
}

.card{
    width: min(400px, 30vw);
}

.card div{
    background-color: #FFE8D6;
    height: min( max(min(4*40px, 4*7vh), 4*10px), max(min(4*40px, 4*3vw), 4*10px));
    padding: 10px;
    display: flex;
    align-items: center;

}

.card p{
    text-align: center;
    font-family: Darker Grotesque;
    font-size: min( max(min(40px, 7vh), 10px), max(min(40px, 3vw), 10px));
    color:#865336;
    margin: auto;
}

.card img{
    width: 100%;
    height: min(5/4*400px, 3/2*25vw);
    object-fit: cover;
    overflow: hidden;
}



