
/*footer*/

.footer {
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 30px), 10px);
    
}
.footer p{
    margin-bottom: 0;
}

.fa {
    padding: 10px;
    font-size: 30px;
    height: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

#footer_cover .fa{
    padding:20px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
    border: #55ACEE 2px solid;
    color: #55ACEE;
}

.fa-linkedin {
    border: #007bb5 2px solid;
    color: #007bb5;
}

.fa-youtube {
    border: #bb0000 2px solid;
    color: #bb0000;
}

.fa-instagram {
    border: #125688 2px solid;
    color: #125688;
}

.fa-skype {
    border: #00aff0 2px solid;
    color: #00aff0;
}
.fa-github{
    border: black 2px solid;
    color: black;
}
.fa-envelope{
    border: #865336 2px solid;
    color:#865336;
}
