/*Container*/
.container{
    display: block;
    margin-bottom: 5vh;
    margin-top: 10vh;
}


/*******************page divider and header*******************/
/*Defines how title and image title are displayed*/

.page_descriptor{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    min-height: 30px;
    max-height: 400px;
    height: min( 20vh, 150px);     /*max min para width + height*/
    display: flex;
    align-items: center;
}

.page_descriptor h1{
    font-family:Poiret One;
    /*adjusts at height and width*/
    font-size: min( max(min(60px, 10vh), 20px), max(min(60px, 5vw), 20px));
    
    text-align:left;
    margin: auto;
    /*escolher uma melhor combinação de color e background que dê para todos*/						
    color: #865336;/*rgba(183,183,164, 70%);*/
    background-color: rgba(255, 255, 255, 70%);
    padding: 5px;
    border-radius: 5%;

    z-index: 0;
    position: absolute; /*allows for superposition*/
    
    -ms-transform: translate(2vw, 0%);
    transform: translate(2vw, 0%);    
    
}

.page_descriptor img{
    z-index: -1;
    position:relative;
    width: 100%;
    height: 100%;	
    object-fit: cover;
    overflow: hidden;
    display: block;
}

/***************page_quick_description******************/

.page_quick_description{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    
}
.page_quick_description a{
    text-decoration: none;
}

.page_quick_description h2{
    font-family: Darker Grotesque;
    font-size: max(min(min(8vh, 5vw), 40px), 15px);
    padding: 0;
    margin: auto;
    width: 100%;
}

.page_quick_description p{
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 30px), 10px);
}

#FAV_RECIPES{
    margin-top: 5vw;;
}
.page_quick_description .carousel img{
    /*max-width: 300px;
    max-height: 300px;*/
    width:25vw;
    height:25vw;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
}



  








/*******************CARDS*******************/
/*Defines how cards are displayed*/
.cards_content{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
}
.cards_content a{
    text-decoration: none;
    width: 0;
    height: 0;
}

.card{
    
    width: 30vw;
    max-width: 400px;
    min-width: 200px;
    margin: auto;     /*allows for centering cards, when using justify-content*/
    display: inline-block;
    
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.card .description_on_hover{  /*div containing card description*/
    
    background-color: #FFE8D6;
    opacity: 0.8;
    /*min-height: 40px;    /*4*10px;
    max-height: 160px; /*4*40px;
    height: min(28vh, 12vw); /*min(4*7vh, 4*3vw);
    padding: 10px;
    display: flex;*/
    align-items: center;
    /*margin-bottom: 2vw;*/
    text-decoration: none;
    display: none;    /*displays description*/
    position: relative;
    top:0;
    height: auto;
    width: 100%;
    /*max-width: 400px;
    min-width: 200px;*/
    
}
.card div{ /*ver comentário abaixo*/
    display: flex;
}

.card :hover  .description_on_hover{   /*esconde a div "description_on_hover, mas se for só a description on hover, nao funciona, porque torna ambas as div flexíveis (a description on hover e o pai), daí ter acrescentado o bloco de cima*/
    display: flex;   /*flex permite que ao mostrar, a div em metade*/
}

@keyframes appear_card_descp{
    /*TODO*/
}

.card p{
    text-align: center;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 30px), 10px);
    color:#865336;
    margin: auto;
    opacity: 1;
}

.card img{
    width: 100%;
    height: min(5/4*400px, 3/2*25vw);
    object-fit: cover;
    overflow: hidden;
}

/**************lists*************/

.list_with_emoticons{
    text-align: left;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 20px), 10px);
    color:#865336;
    margin:25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


.list_with_emoticons ul{
    list-style:none;
}


.list_with_emoticons li:nth-child(2n+1)::before {
    content: '\1F393';/*"🎓";*/
    width: 25px;
    display: inline-block;
    text-align: center;
}

.list_with_emoticons li:nth-child(2n)::before {
    content: '\1F9C2';/*"🧂";*/
    width: 25px;
    display: inline-block;
    text-align: center;
}

/************************videos********************************************************/


.video {
    width:50vw;
    margin:25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-top: 2vh;
    display:block;
}
.video div{
    height: 28.125vw;
}
.video p{
    text-align: right;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 20px), 10px);
    color:#865336;
}
.video iframe{
    width: 100%;
    height: 100%;
}




/*RECIPES DETAILS*/
.recipes_content{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.recipes_content img{
    width: 30vw;
    max-width: 400px;
    min-width: 200px;
    display: inline-block;
    object-fit: cover;
    overflow: hidden;
}

.recipes_content #text{
    flex-grow: 1;
    margin-left: 5vw;
    width: 50vw;
    
}

.recipes_content #header{
    text-align: left;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 20px), 10px);
    color:#865336;
    margin:auto;
    background-color: #FFE8D6;
    display: flex;
    justify-content: space-between;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-bottom: 1vw;
}

.recipes_content #info {
    text-align: left;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 20px), 10px);
    color:#6B705C;
    padding-right: 1vw;
    padding-left: 1vw;
}

.recipes_content #info ul{
    list-style-type: none;
}

.recipes_content #ingredients li::before {
    content: '\1F9C2';/*"🧂";*/
    width: 25px;
    display: inline-block;
    text-align: center;
}

.recipes_content #preparation  li::before {
    content: '\1F393';/*"🎓";*/
    width: 25px;
    display: inline-block;
    text-align: center;
}



/**************DOWNLOADS*********************************/
#downloads{
    position: relative;
    margin:2vw;
    margin-top: 1vw;
    min-height: 30px;
    max-height: 400px;
    height: min( 20vh, 150px);     /*max min para width + height*/
    display: flex;
    align-items: center;
}
#downloads div{
    flex-grow: 1;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: max(min(min(7vh, 3vw), 20px), 10px);
    color:#6B705C;
    padding-right: 1vw;
    padding-left: 1vw;
    margin:2vw;

}
#downloads span{
    font-size: 30px;
    vertical-align: middle;
}

#downloads a{
    text-decoration: none;
}


/*about_me*/
#about_me{
    align-items: center;
}
#about_me a{
    text-decoration: none;
}